:root {
  --game-width: 500px;
  --game-height: 500px;

  --card-width: 60px;
  --card-height: 84px;

  --deck-x: calc(var(--card-width) / -2);
  --deck-y: 0vh;

  --table-card-x: calc(var(--card-width) / 2);
  --table-card-y: 0vh;

  --hand-bottom-x: 0vw;
  --hand-bottom-y: calc(var(--game-height) / 2 - var(--card-height));

  --hand-left-x: calc(var(--game-width) / -2 + var(--card-height));
  --hand-left-y: 0vh;

  --hand-top-x: 0vw;
  --hand-top-y: calc(var(--game-height) / -2 + var(--card-height));

  --hand-right-x: calc(var(--game-width) / 2 - var(--card-height));
  --hand-right-y: 0vh;

  --held-card-bottom-x: calc(var(--hand-bottom-x) + var(--card-width) * 1.5);
  --held-card-bottom-y: var(--hand-bottom-y);

  --held-card-left-x: var(--hand-left-x);
  --held-card-left-y: calc(var(--hand-left-y) + var(--card-width) * 1.5);

  --held-card-top-x: calc(var(--hand-top-x) - var(--card-width) * 1.5);
  --held-card-top-y: var(--hand-top-y);

  --held-card-right-x: var(--hand-right-x);
  --held-card-right-y: calc(var(--hand-right-y) - var(--card-width) * 1.5);
}

.game-svg {
  width: var(--game-width);
  height: var(--game-height);
  background-color: seagreen;
}

.card.highlight {
  filter: drop-shadow(0 0 0.3rem rgba(173, 255, 47, 1.0));
  cursor: pointer;
}

@keyframes slide-from-top {
  from {
    transform: translateY(calc(var(--game-height) / -2))
               rotate(90deg);
  }
}

.card.deck.not-started {
  animation: slide-from-top 1s;
}

@keyframes slide-from-held-bottom {
  from {
    transform: translate(calc(var(--held-card-bottom-x) - var(--card-width) / 2),
                         var(--held-card-bottom-y));
  }
}

.card.table.slide-from-held {
  animation: slide-from-held-bottom 1s;
}

@keyframes slide-from-deck {
  from {
    transform: translate(var(--deck-x), var(--deck-y));
  }
}

.card.held.slide-from-deck {
  animation: slide-from-deck 1s;
}

@keyframes slide-from-table {
  from {
    transform: translate(var(--table-card-x), var(--table-card-y));
  }
}

.card.held.slide-from-table {
  animation: slide-from-table 1s;
}

.card.held.bottom {
  transform: translate(var(--held-card-bottom-x),
                       var(--held-card-bottom-y));
}

.card.held.left {
  transform: translate(var(--held-card-left-x),
                       var(--held-card-left-y))
             rotate(90deg);
}

.card.held.top {
  transform: translate(var(--held-card-top-x),
                       var(--held-card-top-y));
}

.card.held.right {
  transform: translate(var(--held-card-right-x),
                       var(--held-card-right-y))
              rotate(90deg);
}

.hand.bottom {
  transform: translate(var(--hand-bottom-x),
                       var(--hand-bottom-y));
}

.hand.left {
  transform: translate(var(--hand-left-x),
                       var(--hand-left-y))
             rotate(90deg);
}

.hand.top {
  transform: translate(var(--hand-top-x),
                       var(--hand-top-y))
             rotate(180deg);
}

.hand.right {
  transform: translate(var(--hand-right-x),
                       var(--hand-right-y))
             rotate(270deg);
}

header nav ul {
  display: flex;
}

header nav ul a {
  margin-right: 2rem;
}
