@import "./phoenix.css";

:root {
  --game-width: 500px;
  --game-height: 600px;
  --card-width: 60px;
  --card-height: 84px;
}

.game-svg {
  background-color: seagreen;
}

.card {
  transform-box: fill-box;
  transform-origin: center;
}

.card.highlight {
  filter: drop-shadow(0 0 0.3rem rgba(173, 255, 47, 1.0));
  cursor: pointer;
}

header nav a {
  display: inline;
}

.game-controls {
  display: flex;
  margin-top: 1rem;
}

.game-controls form {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.game-controls form button {
  margin: 0;
}

footer p {
  margin-top: 0.5rem;
  margin-left: 2rem;
  /* text-align: center; */
}

@keyframes deal-deck {
  from {
    transform: translateY(calc(var(--game-height) / -2))
               rotate(90deg);
  }
}

.deck.deal {
  animation-name: deal-deck;
  animation-duration: 1s;
}
